<div class="message-bubble" id="message-<%= message.id %>">
  <small>
    <strong>ID#<%= message.user.id %> <%= message.user.name %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
    <%= cl_image_tag message.photo.key, height: 20, width: 20, crop: :fill if message.photo.attached?%>
  </small>
  <p><%= message.content %></p>
</div>
