<div class="container-md">
    <div class="my-5">
      <h1 class="mb-1">Consultation form</h1>
      <h3 class="font-light">How can we help you today?</h3>
    </div>

  <div class="new-consultation">
    <%= simple_form_for  @consultation do |f| %>

        <% if user_signed_in? %>
          <!-- User can select their own pet-->
          <%= f.association :pet, collection: @pets, label: 'Which pet is this for?' %>
          <%= f.input :concern_category, collection: Consultation::CONCERN, label: 'What type of concern do you have?' %>
          <%= f.input :additional_info, label: 'Additional Information' %>
          <%= f.submit class: "form-control mt-3 btn btn-primary rounded-pill", style: "color: #F2E9D0;" %>
        <% else %>
          <%= f.input :species, collection: Pet::SPECIES, label: 'What kind of animal is it?' %>
          <%= f.input :concern_category, collection: Consultation::CONCERN, label: 'What type of concern do you have?' %>
          <%= f.input :additional_info, label: 'Additional Information' %>
          <%= f.submit class: "form-control mt-3 btn btn-primary rounded-pill", style: "color: #F2E9D0;" %>
        <% end %>
    <% end %>
  </div>
</div>
