<div style="display:flex; justify-content: space-between;">
  <h1>My consultations</h1>
  <%= link_to "➕ Add a consultation", new_consultation_path %>
</div>

<% @consultations.each do |c| %>
Consultation with Dr. <%= c.user.name %> <br>
Name: <%= c.pet.name %> <br>
Species: <%= c.pet.species %> <br>
Concern: <%= c.concern_category %> <br>
More info: <%= c.additional_info %> <br>
<%# Message history not implemented yet%>
<%= link_to "Message history", consultation_path(@user) %> <br>
----------------------------- <br>
<% end %>

<%= render 'shared/footer' %>
