<div class="margin-above-footer">

    <h1 class="my-5"><%= @pet.name %>'s consultations</h1>

  <% @consultations.each do |c| %>
  <% if c.vet_id.present? %>


    Consultation with Dr. <%= User.find(c.vet_id).name %> <br>
    Name: <%= c.pet.name %> <br>
    Species: <%= c.pet.species %> <br>
    Concern: <%= c.concern_category %> <br>
    More info: <%= c.additional_info %> <br>
    <%# Message history not implemented yet%>
    <%= link_to "Message history", consultation_path(@user) %> <br>
    ----------------------------- <br>
    <% end %>
 <% end %>
  <%= render 'shared/footer' %>
</div>
