
<%# Chatroom window %>
<div class="container chatroom"
     data-controller="consultation-subscription"
     data-consultation-subscription-consultation-id-value="<%= @consultation.id %>",
     data-consultation-subscription-current-user-id-value="<%= current_user.id %>" >

  <div class="chat-header mb-2">
    <div>
      <% if @consultation.user == @user %>

        <h2 class="mb-1">Dr. <%= User.find(@consultation.vet_id).name %></h2>
        <%if @consultation.active? %>
          <p class="online"><i class="fa-solid fa-circle text-success"></i> Online</p>
        <% end %>

      <% else %>

       <h2 class="mb-1"><%= @consultation.user.name %></h2>

      <% end %>
    </div>
    <% if @consultation.active? %>
      <div class="end-consultation">
        <%= form_for @consultation, url: {action: "end_consultation"} do |f| %>
          <%= f.hidden_field :id, :value => @consultation.id %>
          <%= f.submit "End", class: "btn btn-secondary end-button" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if @consultation.additional_info.present? %>
    <% if @consultation.concern_category %>
      <div class="dropdown-consult" data-controller="dropdown" data-action="click->dropdown#showContent">
        <p class="dropmenu mb-0 d-flex justify-content-between align-items-center" data-dropdown-target="menu"
                                                                                  >
          Concern: <%= @consultation.concern_category %>
          <i class="fa-solid fa-angle-down"></i>
        </p>

        <p class="dropdown-content" id="add-info" data-dropdown-target="content">Addtitional information : <%= @consultation.additional_info %></p>
      </div>
    <% end %>

  <% else %>
  <div>
    <p class="dropmenu mb-0"><%= "Concern: #{@consultation.concern_category}" if @consultation.concern_category %></p>
  </div>
  <% end %>




  <div class="messages" data-consultation-subscription-target="messages">
    <% @consultation.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>


  <%# New message form %>
  <div class="input-chat">
    <% if @consultation.active %>
      <%= simple_form_for [@consultation, @message],
        remote: true,
        html: {data: {action: "ajax:success->consultation-subscription#resetForm"}, class: "d-flex" } do |f| %>
          <div class="chat-field">
          <%= f.input :content,
            label: false,
            placeholder: "What's happening with #{@consultation.pet.name}?",
            wrapper_html: {class: "flex-grow-1 custom-message-input"} %>
          <%= f.input :photo, label: ('<i class="fa-solid fa-paperclip"></i>').html_safe, as: :file %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
