<div class="container-small">
  <div class="my-5">
      <h1 class="mb-1">Select a specialist</h1>
  </div>

  <!-- btn to connect to random vet -->
  <%= link_to "Connect with any veterinarian", start_consultation_path(vet_id: @available_vets_customized.sample ), class:"btn btn-primary rounded-pill w-100 mb-3", style:"color:#F2E9D0;" %>

  <!-- Vet cards -->
  <% @available_vets_customized.each do |vet| %>
      <div class="vet-card">
          <% if vet.photo.attached? %>
            <%= cl_image_tag vet.photo.key, alt:"#{vet.name}'s photo", class:"img-fluid card-vet-img" %>
          <% else %>
            <%= image_tag "blank-avatar", alt: "default avatar photo", class:"img-fluid card-vet-img" %>
          <% end %>
        <div class="container__text">
            <h5 class="card-title">Dr. <%= vet.name %></h5>
            <p class="card-text">Specialties </p>
            <span class="rounded-pill">
              <% vet.specialties.each do |s| %>
                <%= s.name %>
              <% end %>
            </span>
              <% if vet.feedbacks.count == 0 %>
                No ratings yet
              <% else %>
                  <% stars = vet.feedbacks.map(&:rating).sum.fdiv(vet.feedbacks.count).round %>
                  <% stars.times do %>
                    <span class="fa fa-star star-checked stars-shadow "></span>
                  <% end %>
                  <% (5-stars).times do %>
                    <span class="fa fa-star star-unchecked stars-shadow "></span>
                  <% end %>
                  (<%= vet.feedbacks.count %>)
              <% end %>
            <%= link_to "Connect", start_consultation_path(vet_id: vet), class: "btn-sm btn-primary card-btn-connect consult-now", style:"color:#F2E9D0;"  %>
        </div>
      </div>
  <% end %>
</div>
