<div class="navbar-extension">
    <div id="user-information" class="d-flex justify-content-start gap-3 pt-2">
      <!-- add if statement to display user photo if available -->
      <%#= cl_image_tag @user.photo.key, class: "avatar" %>

      <%= image_tag 'blank-avatar.png', class: "avatar" %>

    <div class="d-flex">
      <div>
        <% if @user.vet_specialty != nil %>
          <p>Dr. <%= @user.name %></p>
        <% else %>
          <p><%= @user.name %></p>
        <% end %>

        <% if @user.address != nil %>
          <p><%= @user.address %></p>
        <% end %>

        <p><%= @user.email %></p>

      </div>

      <%= link_to edit_user_path(@user) do%>
        <i class="fa-solid fa-pencil"></i>
      <% end %>
    </div>
  </div>
</div>



<%= render 'shared/my_pets' %>
