<div class="navbar-extension">
    <div id="user-information" class="d-flex justify-content-start gap-3 pt-2">
      <!-- Profile Photo-->
      <div class="d-flex flex-column gap-2 justtify-content-evenly">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, class: "avatar" %>
        <% else %>
          <%= image_tag 'blank-avatar.png', class: "avatar" %>
        <% end %>
        <!-- Toggle switch -->
        <label class="switch">
          <%= check_box_tag 'availability', 'availability', @user.available %>

          <span class="slider round"></span>
        </label>


      </div>

      <div>
        <!-- Name & Specialties -->
        <% if @user.specialties.count > 0 %>
          <p><strong>Dr. <%= @user.name %></strong></p>
          <p><strong>Specialties:</strong>
            <% @user.specialties.each do |s| %>
              <%= s.name %></p>
            <% end %></p>
        <% else %>
          <p><strong><%= @user.name %></strong></p>
        <% end %>

        <!-- Address -->
        <p><%= @user.address %></p>
        <!--Email -->
        <p><%= @user.email %></p>


      </div>

      <%= link_to edit_user_path(@user) do%>
        <i class="fa-solid fa-pencil edit-pen"></i>
      <% end %>

    </div>

</div>


<%= render 'shared/my_pets' %>

<%= render 'shared/consultation_history' %>


<%= render 'shared/footer' %>


    <%# Availability %>
  <!--%# if @user.specialties.count > 0 %>
    <p><strong>Your current status is:</strong>
      <%# if @user.available %>
        Available. <%= link_to "Make me unavailable", make_unavailable_path, method: :patch, class: "btn btn-warning" %>
      <%# else %>
        Unavailable. <%= link_to "Make me available", make_available_path, method: :patch, class: "btn btn-success" %>
      <%# end %>
    </p>

  <%# end %-->
