<div class="navbar-extension">
    <div id="user-information" class="d-flex justify-content-start gap-3 pt-2">
      <!-- Profile Photo-->
      <div class="d-flex flex-column gap-2 justtify-content-evenly">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, class: "avatar" %>
        <% else %>
          <%= image_tag 'blank-avatar.png', class: "avatar" %>
        <% end %>
        <!-- Toggle switch for availability -->
        <% if @user.specialties.count > 0 %>
          <label class="switch">
          <%= simple_form_for @user, url: {action: "change_vet_status"} do |f| %>
            <%= check_box_tag 'availability', '1', @user.available, onchange: 'this.form.submit();', data: {remote: true} %>

            <span class="slider round"></span>
          <% end %>
          </label>
        <% end %>
      </div>




      <div>
        <!-- Name & Specialties -->
        <% if @user.specialties.count > 0 %>
          <p><strong>Dr. <%= @user.name %></strong></p>

          <p><strong>Specialties:</strong>
          <p><%= @user.specialties.map { |s| s.name }.to_sentence %></p>
        <% else %>
          <p><strong><%= @user.name %></strong></p>
        <% end %>

        <!-- Address -->
        <!--p><%#= @user.address %></p-->
        <!--Email -->
        <p><%= @user.email %></p>

      </div>

      <%= link_to edit_user_path(@user) do%>
        <i class="fa-solid fa-pencil edit-pen"></i>
      <% end %>

    </div>

</div>


<%= render 'shared/my_pets' %>

<%= render 'shared/consultation_history' %>


<%= render 'shared/footer' %>
