<div class="mt-4 mb-3 d-flex gap-2 align-items-end">
  <h3 class="mb-0">My pets</h3>
  <%= link_to new_user_pet_path(@user) do %>
    <i class="fa-solid fa-circle-plus icon-add"></i>
  <% end %>
</div>

<% if @user.pets.empty? %>
  <p class="small-font">You have not added any pets yet.</p>
<% else %>
  <div class="pet-card">
    <% @user.pets.each do |p| %>
      <div class="a-box">
        <div class="img-container flip-card">
          <div class="img-inner flip-card-inner">
            <div class="inner-skew flip-card-front ">
              <% if p.photo.attached? %>
                <%= cl_image_tag p.photo.key, alt: p.name, class:"card-img-top" %>
              <% else %>
                <%= image_tag "pet-avatar.png", alt: "Default picture for pet", class:"card-img-top" %>
              <% end %>
              <h3 class="pet-name"><%= p.name %></h3>
              <div class="three-dot">
                <h1>...</h1>
              </div>
            </div>
            <div class="flip-card-back">
              <%= link_to user_pet_consultations_path(@user, p.id) do %>
                 <button type="button" class="btn btn-dark btn-lg pet-button">Consultation</button>
              <% end %>
              <p><%= link_to edit_user_pet_path(@user, p.id) do %>
                <button type="button" class="btn btn-dark btn-lg pet-button">Edit</button>
              <% end %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
