<div class="container">
  <div class="row py-4">
    <div class="col-md-3 pet-card-payment">
      <% if @consultation.pet.photo.attached? %>
        <%= cl_image_tag @consultation.pet.photo.key, alt: @consultation.pet.name, class:"card-img-top picture-card-payment" %>
        <i class="fa-solid fa-cart-shopping"></i>
      <% else %>
        <%= image_tag "pet-avatar.png", alt: "Default picture for pet", class:"card-img-top picture-card-payment" %>
        <i class="fa-solid fa-cart-shopping"></i>
      <% end %>
    </div>
    <div class="col payment-form">
      <h2>Checkout summary</h2>
      <hr>
      <div class="checkout-pet">
        <p>Consultation for:</p> <p><strong><%= @consultation.pet.name %></strong></p>
      </div>
      <div class="checkout-vet">
        <p>With:</p> <p><strong>Dr. <%= User.find(@consultation.vet_id).name %></p></strong>
      </div>
      <hr>
      <div class="checkout-price">
        <p><strong>TOTAL</strong></p> <p><strong><%= humanized_money_with_symbol @consultation.price %></strong></p>
      </div>
      <button id="pay" class="btn btn-primary pay-btn">Checkout</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @consultation.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
