<div class="container-small">
  <div class="mt-4 mb-5">
    <h1>We value your feedback!</h1>
    <h4 style="font-weight: lighter;">Thank you for consulting with us! <br> Tell us how we did...</h4>
  </div>

  <div class="mb-2">
    <%= simple_form_for [ @consultation, @feedback ] do |f| %>
          <%= f.input :rating, label: 'How was your overall experience?', collection: Feedback::STARS %>
          <%= f.input :vet_rating, label: 'Was the vetenarian able to answer your questions?', collection: Feedback::STARS %>
          <%= f.input :friend_rating, label: 'Would you recommend us to a friend?', collection: Feedback::STARS %>
          <%= f.input :comment %>
          <%= f.submit "Leave Feedback", class: "form-control btn btn-primary", style:"color:#F2E9D0;" %>
    <% end %>
  </div>

  <%= link_to "Skip", receipt_path(@consultation), class:"btn btn-link btn-link-faint mt-4" %>
</div>
