<div class="container-small">
  <div class="mt-4 mb-5">
    <h1>We value your feedback!</h1>
    <h4 style="font-weight: lighter;">Thank you for consulting with us! Tell us how we did...</h4>
  </div>

  <%= simple_form_for [ @consultation, @feedback ] do |f| %>
        <%= f.input :rating, label: 'How was your overall experience?', collection: Feedback::STARS %>
        <%= f.input :vet_rating, label: 'Was the vetenarian able to answer your questions?', collection: Feedback::STARS %>
        <%= f.input :friend_rating, label: 'Would you recommend us to a friend?', collection: Feedback::STARS %>
        <%= f.input :comment %>
        <%= f.submit class: "orm-control btn btn-primary" %>
    <% end %>

  <%= link_to "Skip feedback", receipt_path(@consultation) %>
</div>
