<div class="container-small">
  <div class="my-5">
    <h1>Thank you!</h1>
    <h3 style="font-weight: lighter;">Consultation receipt</h3>
  </div>

  <!-- Vet & Pet of the Consultation -->
  <div class="d-flex justify-content-center align-items-center gap-4" id="card-consult-between">
    <!-- vet info -->
    <div>
      <% if @vet.photo.attached? %>
      <%= cl_image_tag @vet.photo.key, alt: @vet.name, class:"avatar avatar-middle" %>
      <% else %>
        <%= image_tag "blank-avatar.png", alt: "Default avatar", class:"avatar avatar-middle" %>
      <% end %>
      <p class="mt-2">Dr. <%= User.find(@consultation.vet_id).name %></p>
    </div>

    <i class="fa-solid fa-stethoscope fs-3" style="color: #F2E9D0;"></i>

    <!-- pet info -->
    <div>
      <% if @consultation.pet.photo.attached? %>
      <%= cl_image_tag @consultation.pet.photo.key, alt: @consultation.pet.name, class:"avatar avatar-middle" %>
      <% else %>
        <%= image_tag "pet-avatar.png", alt: "Default picture for pet", class:"avatar avatar-middle" %>
      <% end %>
      <p class="mt-2"><%= @consultation.pet.name %></p>
    </div>
  </div>

  <!-- Duration in minutes & Total-->
  <div>
    <table>
      <tr>
        <td>Duration</td>
        <td><%= ((@consultation.updated_at - @consultation.created_at)/(1.minute)).round %> min.</td>
      </tr>
      <tr>
          <td>Total</td>
          <td> $<%= @receipt.price_cents  %></td>
      </tr>
    </table>

  </div>

  <!-- Access chat -->
  <div class="d-flex justify-content-around align-items-center">
    <%= link_to "Access chat logs", consultation_path(@consultation), class:"btn btn-primary rounded-pill text-wrap", style:"width: 9rem;" %>
    <%= link_to "Save chat logs to PDF", "#", class:"btn btn-primary rounded-pill text-wrap", style:"width: 11rem;" %>
  </div>




  <!-- Star Rating Average -->
  <div class="text-center fs-1 mt-4">
    <% if @feedback_avg %>
      <% if @feedback_avg == 1 %>
        <span class="fa fa-star star-checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      <% elsif @feedback_avg == 2 %>
        <span class="fa fa-star star-checked"></span>
        <span class="fa fa-star star-checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>

      <% elsif @feedback_avg == 3 %>
        <span class="fa fa-star star-checked"></span>
        <span class="fa fa-star star-checked"></span>
        <span class="fa fa-star star-checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>

      <% elsif @feedback_avg == 4 %>
        <span class="fa fa-star star-checked"></span>
        <span class="fa fa-star star-checked"></span>
        <span class="fa fa-star star-checked"></span>
        <span class="fa fa-star star-checked"></span>
        <span   class="fa fa-star"></span>

      <% elsif @feedback_avg == 5 %>
        <span class="fa fa-star star-checked"></span>
        <span class="fa fa-star star-checked"></span>
        <span class="fa fa-star star-checked"></span>
        <span class="fa fa-star star-checked"></span>
        <span class="fa fa-star star-checked"></span>


      <% end %>
    <% end %>
    </div>
    <div class="text-center">
      <%= link_to "See full feedback", consultation_feedback_path(@consultation, @consultation.feedback), style:"font-size: 0.5rem !important;"%>
    </div>
  </div>


<div>
